<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template-style.css">
    <link rel="shortcut icon" href="../favicon/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../page-css/style-template.css">
    <title>BabyBay</title>
</head>

<body>
    <header>
        <div class="menu-bg">
            <div class="menu">
                <div class="menu__logo">
                    <a href="index.html" target=_self><img src="../img/logo-200px.png" alt="logo-babybay"></a>
                </div> <!-- .menu__logo-->
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__link">Já tem uma conta?</li>
                        <li class="nav__link--bold"><a href="#" target=_self>Entrar</a></li>
                    </ul> <!-- .nav__list-->
                </nav>
                <!--.nav-->
            </div>
            <!--.menu-->
        </div> <!-- .menu-bg-->
    </header>
    <!--header-->

    <!---sidebar-->
    <div class="wrapper d-flex">
      <div class="sidebar">
        <h2 class="p-5 ml-4 title-sidebar">Babybay</h2>
        <small class="text-muted pl-3">Minha conta </small>
        <ul class="ul-sidebar">
          <li><a href="#">Inbox</a></li>
          <li><a href="#">Meu Guarda-Roupa </a></li>
          <li><a href="#">Minha Carteira</a></li>
        </ul>
        <small class="text-muted px-3">Babybay</small>
        <ul>
          <li><a href="#">Perguntas Frequentes</a></li>
          <li><a href="#">Sobre o time</a></li>
          <li><a href="#">Fale Conosco</a></li>
      </div>
    </div>

    <section>
        <article>

        </article>
    </section>

    <main>
    </main>

    <footer class="footer-principal">
        <div class="conteudo__footer">
            <p class="conteudo__footer__frase">App Version - V1.0</p>
            <p class="conteudo__footer__frase">ALL RIGHTS RESERVED TO BABYBAY © 2022</p>
        </div> <!-- .conteudo__footer-->
    </footer> <!-- .footer-principal" -->

</body>

</html>

<!--
    *** NÃO USAR ID
    Exemplo nomenclatura de classes:
.bloco-principal { padding:15px; }
.bloco-principal__artigo { max-width:600px; }
.bloco-principal__artigo--fundo-cinza { background: #c9c9c9; }
-->
