<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../page-css/style-template.css">
  <link rel="stylesheet" type="text/css" href="../page-css/style-anuncio.css">
  <script src="https://kit.fontawesome.com/4a32827b3a.js" crossorigin="anonymous"></script>

  <title>Item</title>
  </head>

  <body>

    <header>
      <div class="menu-bg">
          <div class="menu">
              <div class="menu__logo">
                  <a href="index.html" target=_self><img src="../img/logo-200px.png" alt="logo-babybay"></a>
              </div> <!-- .menu__logo-->
              <nav class="nav">
                  <ul class="nav__list">
                      <li class="nav__link">Já tem uma conta?</li>
                      <li class="nav__link--bold"><a href="#" target=_self>Entrar</a></li>
                  </ul> <!-- .nav__list-->
              </nav>
              <!--.nav-->
          </div>
          <!--.menu-->
      </div> <!-- .menu-bg-->
  </header>

    <div class="container p-5 mb-5">
      <div class="container card">
        <div class="row">
          <div class="col-8 p-0 m-0">
            <img class="foto" src="../img/roupa1.jpg">
          </div><!--col-->
          <div class="col-4 p-5">
            <h4 class="text-center my-3">Vestido rosa</h4>
            <div class="row">
              <div class="col justify-content-between">
                    <p class="text-muted smaller">3 anos</p>
                  </div>
                  <div class="col">
                    <p class="text-muted smaller"><i class="fa-solid fa-location-dot"></i> </i>30km</p>
                  </div>
                  <div class="col">
                    <p class="price smaller">5 <i class="fa-brands fa-bitcoin"></i></p>
                  </div>
            </div><!--row-->
            <p class="text-muted">Lindo vestida etc e tal com mancha blabla blabla blablalbla</p>
            <div class="text-center">
              <a class="purple my-3 py-3" href="#">Denunciar postagem <i class="fa-solid fa-circle-exclamation"></i></a><br><br>
              <a class="purple my-3 py-3" href="#">Favoritar <i class="fa-solid fa-star"></i></a><br><br>
              <button type="button my-3 py-3" class="btn">Eu quero!</button>
            </div>
          </div><!--col-->
        </div><!--row-->
      </div><!--container-->
      <div class="text-center py-3">
      <a class="purple" href="#">Retornar</a>
      </div>
    </div><!--container-->


    <footer class="footer-principal">
      <div class="conteudo__footer">
          <p class="conteudo__footer__frase">App Version - V1.0</p>
          <p class="conteudo__footer__frase">ALL RIGHTS RESERVED TO BABYBAY © 2022</p>
      </div> <!-- .conteudo__footer-->
  </footer> <!-- .footer-principal" -->

  </body>
</html>
