<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../page-template/template-style.css">
    <link rel="stylesheet" href="../page-css/style-busca.css">

    <title>BabyBay</title>
</head>

<body>
  <header>
    <div class="menu-bg">
        <div class="menu">
            <div class="menu__logo">
                <a href="index.html" target=_self><img src="../img/logo-200px.png" alt="logo-babybay"></a>
            </div> <!-- .menu__logo-->
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__link">Já tem uma conta?</li>
                    <li class="nav__link--bold"><a href="#" target=_self>Entrar</a></li>
                </ul> <!-- .nav__list-->
            </nav>
            <!--.nav-->
        </div>
        <!--.menu-->
    </div> <!-- .menu-bg-->
</header>
<!--header-->

<div class="container-big">
<div class="row">

  <div class="col-sm-4"><!---sidebar-->
    <div class="wrapper d-flex">
      <div class="sidebar">
       <small class="text-muted pl-3">Categoria</small>
        <ul class="ul-sidebar">
          <li><small class="text-muted pl-3">Camisa</small></li>
          <li><small class="text-muted pl-3">Short</small></li>
          <li><small class="text-muted pl-3">Calça</small></li>
          <li><small class="text-muted pl-3">Macacão</small></li>
         </ul>
        <small class="text-muted px-3">Idade</small>
         <ul>
           <li><small class="text-muted pl-3 mb-0">0-1 ano</small></li>
           <li><small class="text-muted pl-3">0-2 anos</small></li>
          <li><small class="text-muted pl-3">0-3 anos</small></li>
           <li><small class="text-muted pl-3">0-4 anos</small></li>
      </div>
    </div>
  </div><!--.col-->

  <div class="col-sm-8">
    <div class="container-md"><!--content-->

      <div class="container-md-item p-5"><!--searchbar-->
        <article class="article-busca">
          <div class="article__busca--contorno">
            <div class="menu-busca">
              <input class="input__busca" type="search" name="input-buscar" id="input-buscar"
                  placeholder="Busque uma roupa"> <!-- .input__busca-->
              <select class="input__selected" name="idade" id="idade">
                  <option selected>Idade</option>
                  <option value="zero-dois">0 a 2 anos</option>
                  <option value="tres-cinco">3 a 5 anos</option>
                  <option value="seis-oito">6 a 8 anos</option>
                  <option value="nove-onze">9 a 11 anos</option>
                  <option value="doze-quinze">12 a 15 anos</option>
                  <option value="maior-dezesseis">Maior de 16 anos</option>
              </select> <!-- .input__selected -->
              <select class="input__selected" name="categoria" id="categoria">
                  <option selected>Categoria</option>
                  <option value="camiseta">Camiseta</option>
                  <option value="short">Short</option>
                  <option value="calca">Calça</option>
                  <option value="macacao">Macacão</option>
                  <option value="calcados">Calçados</option>
                  <option value="outros">Outros</option>
              </select> <!-- .input__selected -->
              <button class="input__busca--botao" id="btn-buscar">Buscar</button>
            </div> <!-- .menu__busca -->
          </div> <!-- .article__busca--contorno-->
        </article> <!-- .article-busca -->
      </div><!--container-md-item-->

      <div class="container-md-item">
        <div class="d-flex flex-wrap">


          <div class="card m-3" style="width: 18rem;"><!--card-->
            <img src="../img/roupa2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="container space-between">
                <div class="row d-flex justify-content-between">
              <div class="card-text col text-left"><p>Macacão Rosa</p><p class="small">Descrição</p></div>

              <p class="card-text col text-right small">13 km</p>
                </div><!--row-->
                <div class="row d-flex justify-content-between">
                  <div class="price text-left">1 BC</div>
                  <button type="button" class="btn btn-light">Eu quero!</button>
                </div>
              </div><!--container-->
           </div>
          </div>

        </div><!--cards-->
      </div><!--.container-md-item-->
   </div><!--.conatainer-md-->
  </div><!--.col-->
</div><!--.row-->
</div><!--.container-big-->

<footer class="footer-principal">
  <div class="conteudo__footer">
      <p class="conteudo__footer__frase">App Version - V1.0</p>
      <p class="conteudo__footer__frase">ALL RIGHTS RESERVED TO BABYBAY © 2022</p>
  </div> <!-- .conteudo__footer-->
</footer> <!-- .footer-principal" -->


</body>
