
.foto {
  width:100%;
  height: 500px;
  object-fit: cover;
}

.card {
  background-color: white;
  height: 500px;
  width: 900px;
}

a,
a:link,
a:visited{
    color: #9594f8;
    text-decoration: none
}

.price {
  color:#DA8BD2;
}

.btn {
  background-color: #DA8BD2;
  border-color: #DA8BD2;
  color: white;
}

.btn:hover{
  opacity: 0.8;
  color: white;
}

.smaller {
  font-size: 13px;
}
