
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/template-page-index.css">

<h1>Você não tem permissão de acesso</h1>
<a role="button" class="btn btn-primary" asp-controller="Usuarios" asp-action="Login">Voltar</a>

