
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Menu</h1>

<div>
	<a class="btn btn-primary" asp-controller="Produtos" asp-action="Create">Cadastrar Produto</a>
	<a class="btn btn-primary" asp-controller="Usuarios" asp-action="Relatorios">Meus Dados</a>
	<a asp-action="Index" class="btn btn-primary">Retornar</a>
</div>

