<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="card-style.css">
    <link rel="stylesheet" href="template-style.css">

</head>

<body>

<div class="card">
  <img class="card-image"src="../img/pexels-pixabay-47220.jpg">
  <div class="card-infos">
    <div class="card-description">
      <h2>Sapatos</h2>
      <p>Sapatos semi-novos</p>
      <p class="idade">2 - 3 anos</p>
    </div>
    <div class="card-price">
      <h2>1 BC</h2>
    </div>
  </div>
  <a href="#" class="btn-editar">Editar</a>

</div>

</body>
</html>
